
p,h1,h2,h3,h4,h5,h6,span {
  font-family: Consolas, monaco, serif;
  color:#FFFFFF;
}

.buttonGradient {
  align-items: center;
  background-image: linear-gradient(144deg,#eb8f34, #e292f0 50%,#971aad);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 80vw;
  width: 30em;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}

.buttonGradient:active,
.buttonGradient:hover {
  outline: 0;
}

.buttonGradient span {
  background-color: rgb(42, 21, 62);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.buttonGradient:hover span {
  background: none;
}

.buttonGradient:active {
  transform: scale(0.9);
}


div.tagChip {
  border-width: 2px;

  margin:0.5em;
  border-color: #c08f49;
}

div.tagChip[data-active="true"]{
  background: rgb(49, 5, 87);
}




